html
    head
        title=title
    body
        table
            tr
                th ID
                th Name
                th Brand
                th Company
                th Price
                th ISBN
            tr
                td=medical.id
                td=medical.name
                td=medical.brand
                td=medical.company
                td=medical.price
                td=medical.isbn